# Chapter 14: Object-oriented programming

## - Object Oriented Python (week 1)

In [44]:
# Classes (cookie cutter) and Objects (cookie)

class Dog:
    # Constructor
    def __init__(self, name, color, age):
        # Attributes defined when instantiating the object
        self.name = name
        self.color = color
        self.age = age

    # Attribute
    paws = 4

    # Method
    def bark(self):
        print("Woof woof")

    # Destructor
    def __del__(self):
        print('I am destructed :(')

# This instantiates the object
rex = Dog('Rex', 'black', 2)

print(f'{rex.name} is {rex.color}')
print(f'{rex.name} is {rex.age} years old')
print(f'{rex.name} has {rex.paws} paws')
rex.bark()

print(f'Type: {type(rex)}')
print(f'Dir: {dir(rex)}')

# This destroys the object
rex = 2

I am destructed :(
Rex is black
Rex is 2 years old
Rex has 4 paws
Woof woof
Type: <class '__main__.Dog'>
Dir: ['__class__', '__del__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'bark', 'color', 'name', 'paws']
I am destructed :(

In [37]:
class PartyAnimal:
    x = 0
    def party(self):
        self.x += 1
        print(f'So far {self.x}')

an = PartyAnimal()

an.party()
an.party()
an.party()

So far 1
So far 2
So far 3

In [69]:
# Inheritance -> Subclasses

# Parent Class
class Pet:
    def __init__(self, name, owner, age, sound):
        self.name = name
        self.owner = owner
        self.age = age
        self.sound = sound

    def petSound(self):
        print(f'{self.name} {self.sound}s')

# Child Class - The class Dog extends Pet
class Dog(Pet):
    def __init__(self, name, owner, age, sound, paws, color):
        # super() makes Dog (child) inherit all methods and classes from Pet (parent)
        super().__init__(name, owner, age, sound)
        self.paws = paws
        self.color = color

    def bark(self):
        print('Woof woof!')

rex = Dog('Rex', 'John', 2, 'bark', 4, 'black')
print(rex.name)
print(rex.owner)
print(rex.age)
print(rex.sound)
print(rex.paws)
print(rex.color)
rex.petSound()
rex.bark()

Rex
John
2
bark
4
black
Rex barks
Woof woof!

# Chapter 15: Using Databases and SQL

## - Basic Structured Query Language (week 2)

In [1]:
# SQLite

import sqlite3

# Create the database
conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')
cur.execute('CREATE TABLE Counts (email TEXT, count INTEGER)')

fname = input('Enter file name: ')

if (len(fname) < 1): fname = 'mbox-short.txt'
with open(fname) as fh:
    for line in fh:
        if not line.startswith('From: '): continue
        pieces = line.split()
        email = pieces[1]
        cur.execute('SELECT count FROM Counts WHERE email = ?', (email,))
        row = cur.fetchone()
        if row is None:
            cur.execute('INSERT INTO Counts (email, count) VALUES (?,1)', (email,))
        else:
            cur.execute('UPDATE Counts SET count = count + 1 WHERE email = ?', (email,))

conn.commit()

sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(row[0], row[1])

cur.close()

cwen@iupui.edu 5
zqian@umich.edu 4
david.horwitz@uct.ac.za 4
louis@media.berkeley.edu 3
gsilver@umich.edu 3
stephen.marquard@uct.ac.za 2
rjlowe@iupui.edu 2
wagnermr@iupui.edu 1
antranig@caret.cam.ac.uk 1
gopal.ramasammycook@gmail.com 1

In [2]:
# Assignment: Our First Database

import sqlite3

conn = sqlite3.connect('sqlite2.sqlite')
db = conn.cursor()

db.execute('DROP TABLE IF EXISTS Ages')
db.execute('CREATE TABLE Ages (name VARCHAR(128), age INTEGER)')

commands = ['DELETE FROM Ages;',
'INSERT INTO Ages (name, age) VALUES ("Maanav", 33);',
'INSERT INTO Ages (name, age) VALUES ("Safeena", 18);',
'INSERT INTO Ages (name, age) VALUES ("Shane", 31);',
'INSERT INTO Ages (name, age) VALUES ("Saffi", 24);'
]

for command in commands:
    db.execute(command)

select = 'SELECT hex(name || age) AS X FROM Ages ORDER BY X'

for row in db.execute(select):
  print(row)

db.close()

('4D61616E61763333',)
('53616665656E613138',)
('53616666693234',)
('5368616E653331',)

In [1]:
# Assignment: Our First Database (2)

import sqlite3

conn = sqlite3.connect('sqlite3.sqlite')
db = conn.cursor()

db.execute('DROP TABLE IF EXISTS Ages')
db.execute('CREATE TABLE Ages (name VARCHAR(128), age INTEGER)')

commands = ['DELETE FROM Ages;',
'INSERT INTO Ages (name, age) VALUES ("Bayleigh", 20);',
'INSERT INTO Ages (name, age) VALUES ("Laina", 16);',
'INSERT INTO Ages (name, age) VALUES ("Caedyn", 15);',
'INSERT INTO Ages (name, age) VALUES ("Nate", 33);',
'INSERT INTO Ages (name, age) VALUES ("Lilya", 19);'
]

for command in commands:
    db.execute(command)

select = 'SELECT hex(name || age) AS X FROM Ages ORDER BY X'

for row in db.execute(select):
  print(row)

db.close()

('4261796C656967683230',)
('43616564796E3135',)
('4C61696E613136',)
('4C696C79613139',)
('4E6174653333',)

In [3]:
# Assignment: Counting Organizations

import sqlite3

# Create the database
conn = sqlite3.connect('orgdb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')
cur.execute('CREATE TABLE Counts (org TEXT, count INTEGER)')

fname = 'mbox.txt'

with open(fname) as fh:
    for line in fh:
        if not line.startswith('From: '): continue
        email = line.split()[1]
        org = email.split('@')[1]
        cur.execute('SELECT count FROM Counts WHERE org = ?', (org,))
        row = cur.fetchone()
        if row is None:
            cur.execute('INSERT INTO Counts (org, count) VALUES (?,1)', (org,))
        else:
            cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?', (org,))

conn.commit()

sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(row[0], row[1])

cur.close()

iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17

## - Data Models and Relational SQL (week 3)

CREATE TABLE "Artist" (
	"id"	INTEGER NOT NULL UNIQUE,
	"name"	TEXT,
	PRIMARY KEY("id" AUTOINCREMENT)
);


CREATE TABLE "Genre" (
	"id"	INTEGER NOT NULL UNIQUE,
	"name"	TEXT,
	PRIMARY KEY("id" AUTOINCREMENT)
);


CREATE TABLE "Album" (
	"id"	INTEGER NOT NULL UNIQUE,
	"artist_id"	INTEGER,
	"title"	TEXT,
	PRIMARY KEY("id" AUTOINCREMENT)
);


CREATE TABLE "Track" (
	"id"	INTEGER NOT NULL UNIQUE,
	"title"	TEXT,
	"album_id"	INTEGER,
	"genre_id"	INTEGER,
	"len"	INTEGER,
	"rating"	INTEGER,
	"count"	INTEGER,
	PRIMARY KEY("id" AUTOINCREMENT)
);

In [136]:
# Tracks Database - CREATE DATABASE AND TABLES

import sqlite3

conn = sqlite3.connect('tracks_db.sqlite')
db = conn.cursor()


tableNames = ['Artist', 'Genre', 'Album', 'Track']

for tableName in tableNames:
    db.execute(f'DROP TABLE IF EXISTS {tableName}')


tables = [
    '''
    CREATE TABLE "Artist" (
        "id"	INTEGER NOT NULL UNIQUE,
        "name"	TEXT,
        PRIMARY KEY("id" AUTOINCREMENT)
    );
    ''',
    '''
    CREATE TABLE "Genre" (
        "id"	INTEGER NOT NULL UNIQUE,
        "name"	TEXT,
        PRIMARY KEY("id" AUTOINCREMENT)
    );
    ''',
    '''
    CREATE TABLE "Album" (
        "id"	INTEGER NOT NULL UNIQUE,
        "artist_id"	INTEGER,
        "title"	TEXT,
        PRIMARY KEY("id" AUTOINCREMENT)
    );
    ''',
    '''
    CREATE TABLE "Track" (
        "id"	INTEGER NOT NULL UNIQUE,
        "title"	TEXT,
        "album_id"	INTEGER,
        "genre_id"	INTEGER,
        "len"	INTEGER,
        "rating"	INTEGER,
        "count"	INTEGER,
        PRIMARY KEY("id" AUTOINCREMENT)
    );
    '''
]

for table in tables:
    db.execute(table)

db.close()

In [138]:
# Tracks Database - INSERT RELATIONAL DATA

import sqlite3

conn = sqlite3.connect('tracks_db.sqlite')
db = conn.cursor()

db.execute('INSERT INTO Artist (name) VALUES (?)', ("Led Zeppelin",))
db.execute('INSERT INTO Artist (name) VALUES (?)', ("AC/DC",))

db.execute('INSERT INTO Genre (name) VALUES (?)', ("Rock",))
db.execute('INSERT INTO Genre (name) VALUES (?)', ("Metal",))

db.execute('INSERT INTO Album (title, artist_id) VALUES (?,?)', ("Who Made Who",2))
db.execute('INSERT INTO Album (title, artist_id) VALUES (?,?)', ("IV",1))

db.execute('INSERT INTO Track (title, rating, len, count, album_id, genre_id) VALUES (?,?,?,?,?,?)', ("Black Dog",5,297,0,2,1))
db.execute('INSERT INTO Track (title, rating, len, count, album_id, genre_id) VALUES (?,?,?,?,?,?)', ("Stairway",5,482,0,2,1))
db.execute('INSERT INTO Track (title, rating, len, count, album_id, genre_id) VALUES (?,?,?,?,?,?)', ("About to Rock",5,313,0,1,2))
db.execute('INSERT INTO Track (title, rating, len, count, album_id, genre_id) VALUES (?,?,?,?,?,?)', ("Who Made Who",5,207,0,1,2))

conn.commit()
db.close()

In [146]:
# Tracks Database - READ ENTIRE DATABASE

import sqlite3

conn = sqlite3.connect('tracks_db.sqlite')
db = conn.cursor()

tableNames = ['Artist', 'Genre', 'Album', 'Track']

for tableName in tableNames:
    print(f'--------------\nTable: {tableName} ', end='')

    numberOfRows = list(db.execute(f'SELECT COUNT(*) FROM {tableName}'))[0][0]
    if numberOfRows == 0:
        print(f'/ "{tableName}" is empity')
        continue
    else:
        s = 's' if numberOfRows > 1 else ''
        print(f'/ {numberOfRows} row{s}')

    for row in db.execute(f'SELECT * FROM {tableName}'):
        print(row)

db.close()

--------------
Table: Artist / 2 rows
(1, 'Led Zeppelin')
(2, 'AC/DC')
--------------
Table: Genre / 2 rows
(1, 'Rock')
(2, 'Metal')
--------------
Table: Album / 2 rows
(1, 2, 'Who Made Who')
(2, 1, 'IV')
--------------
Table: Track / 4 rows
(1, 'Black Dog', 2, 1, 297, 5, 0)
(2, 'Stairway', 2, 1, 482, 5, 0)
(3, 'About to Rock', 1, 2, 313, 5, 0)
(4, 'Who Made Who', 1, 2, 207, 5, 0)

In [159]:
# Tracks Database - READ DATA FROM THE DATABASE

import sqlite3

conn = sqlite3.connect('tracks_db.sqlite')
db = conn.cursor()

query1 = '''
    SELECT Album.title, Artist.name 
    FROM Album
    JOIN Artist
    ON Album.artist_id = Artist.id
'''

print('(Album Title, Artist Name)')

for row in db.execute(query1):
    print(row)

query2 = '''
    SELECT Track.title, Genre.name 
    FROM Track
    JOIN Genre
    ON Track.genre_id = Genre.id
'''

print('\n(Track title, Genre)')

for row in db.execute(query2):
    print(row)

query3 = '''
    SELECT Track.title, Artist.name, Album.title, Genre.name 
    FROM Track
    JOIN Genre
    JOIN Album
    JOIN Artist 
    ON Track.genre_id = Genre.id
    AND Track.album_id = Album.id
    AND Album.artist_id = Artist.id
'''

print('\n(Title, Artist, Album, Genre)')

for row in db.execute(query3):
    print(row)

db.close()

(Album Title, Artist Name)
('Who Made Who', 'AC/DC')
('IV', 'Led Zeppelin')

(Track title, Genre)
('Black Dog', 'Rock')
('Stairway', 'Rock')
('About to Rock', 'Metal')
('Who Made Who', 'Metal')

(Title, Artist, Album, Genre)
('Black Dog', 'Led Zeppelin', 'IV', 'Rock')
('Stairway', 'Led Zeppelin', 'IV', 'Rock')
('About to Rock', 'AC/DC', 'Who Made Who', 'Metal')
('Who Made Who', 'AC/DC', 'Who Made Who', 'Metal')

In [19]:
# Assignment : Musical Track Database

import xml.etree.ElementTree as ET
import sqlite3

conn = sqlite3.connect('trackdb.sqlite')
cur = conn.cursor()

# Make some fresh tables using executescript()
cur.executescript('''
DROP TABLE IF EXISTS Artist;
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Genre;
DROP TABLE IF EXISTS Track;

CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Genre (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    genre_id INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);
''')


# fname = input('Enter file name: ')
fname = 'Library.xml'
if ( len(fname) < 1 ) : fname = 'Library.xml'

# <key>Track ID</key><integer>369</integer>
# <key>Name</key><string>Another One Bites The Dust</string>
# <key>Artist</key><string>Queen</string>
def lookup(d, key):
    found = False
    for child in d:
        if found : return child.text
        if child.tag == 'key' and child.text == key :
            found = True
    return None

stuff = ET.parse(fname)
all = stuff.findall('dict/dict/dict')
print('Dict count:', len(all))
for entry in all:
    if ( lookup(entry, 'Track ID') is None ) : continue

    name = lookup(entry, 'Name')
    artist = lookup(entry, 'Artist')
    album = lookup(entry, 'Album')
    genre = lookup(entry, 'Genre')
    count = lookup(entry, 'Play Count')
    rating = lookup(entry, 'Rating')
    length = lookup(entry, 'Total Time')

    if name is None or artist is None or album is None : 
        continue

    # print(name, artist, album, genre, count, rating, length)

    cur.execute('''INSERT OR IGNORE INTO Artist (name) 
        VALUES ( ? )''', ( artist, ) )
    cur.execute('SELECT id FROM Artist WHERE name = ? ', (artist, ))
    artist_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', ( album, artist_id ) )
    cur.execute('SELECT id FROM Album WHERE title = ? ', (album, ))
    album_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Genre (name) 
        VALUES ( ? )''', ( genre, ) )
    cur.execute('SELECT id FROM Genre WHERE name = ? ', (genre, ))
    fetch_genre_id = cur.fetchone()
    genre_id = fetch_genre_id[0] if fetch_genre_id is not None else None

    cur.execute('''INSERT OR REPLACE INTO Track
        (title, album_id, genre_id, len, rating, count) 
        VALUES ( ?, ?, ?, ?, ?, ? )''', 
        ( name, album_id, genre_id, length, rating, count ) )

conn.commit()

query = '''
    SELECT Track.title, Artist.name, Album.title, Genre.name 
    FROM Track JOIN Genre JOIN Album JOIN Artist 
    ON Track.genre_id = Genre.ID and Track.album_id = Album.id 
        AND Album.artist_id = Artist.id
    ORDER BY Artist.name LIMIT 3
'''

for row in cur.execute(query):
    print(row)

cur.close()

Dict count: 404
('For Those About To Rock (We Salute You)', 'AC/DC', 'Who Made Who', 'Rock')
('Hells Bells', 'AC/DC', 'Who Made Who', 'Rock')
('Shake Your Foundations', 'AC/DC', 'Who Made Who', 'Rock')

## - Many-to-Many Relationships in SQL (week 4)

In [26]:
# Modeling a many to many DB for users and courses in an LMS

import sqlite3

conn = sqlite3.connect('lms_db.sqlite')
db = conn.cursor()

db.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Course;
DROP TABLE IF EXISTS Member;

CREATE TABLE User (
    id          INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name        TEXT,
    email       TEXT
);

CREATE TABLE Course (
    id          INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title       TEXT
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
);

INSERT INTO User (name, email) VALUES ('Jane', 'jane@tsugi.org');
INSERT INTO User (name, email) VALUES ('Ed', 'ed@tsugi.org');
INSERT INTO User (name, email) VALUES ('Sue', 'sue@tsugi.org');

INSERT INTO Course (title) VALUES ('Python');
INSERT INTO Course (title) VALUES ('SQL');
INSERT INTO Course (title) VALUES ('PHP');

INSERT INTO Member (user_id, course_id, role) VALUES (1, 1, 1);
INSERT INTO Member (user_id, course_id, role) VALUES (2, 1, 0);
INSERT INTO Member (user_id, course_id, role) VALUES (3, 1, 0);

INSERT INTO Member (user_id, course_id, role) VALUES (1, 2, 0);
INSERT INTO Member (user_id, course_id, role) VALUES (2, 2, 1);

INSERT INTO Member (user_id, course_id, role) VALUES (2, 3, 1);
INSERT INTO Member (user_id, course_id, role) VALUES (3, 3, 0);
''')

conn.commit()

query = '''
    SELECT User.name, Member.role, Course.title
    FROM User JOIN Member JOIN Course
    ON Member.user_id = User.id AND Member.course_id = Course.id
    ORDER BY Course.title, Member.role DESC, User.name 
'''

for row in db.execute(query):
    print(row)

db.close()

('Ed', 1, 'PHP')
('Sue', 0, 'PHP')
('Jane', 1, 'Python')
('Ed', 0, 'Python')
('Sue', 0, 'Python')
('Ed', 1, 'SQL')
('Jane', 0, 'SQL')

In [8]:
# Assignment: Many Students in Many Courses

import json
import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

# fname = 'roster_data.json'
fname = input('Enter file name: ')
if len(fname) < 1:
    fname = 'roster_data.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],
# ...

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0]
    title = entry[1]
    role = entry[2]

    # print((name, title, role))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id, role) VALUES ( ?, ?, ? )''',
        ( user_id, course_id, role ) )

conn.commit()

query1 = '''
SELECT User.name,Course.title, Member.role FROM 
    User JOIN Member JOIN Course 
    ON User.id = Member.user_id AND Member.course_id = Course.id
    ORDER BY User.name DESC, Course.title DESC, Member.role DESC LIMIT 2;
'''

for row in cur.execute(query1):
    print(row)

query2 = '''
    SELECT 'XYZZY' || hex(User.name || Course.title || Member.role ) AS X FROM 
    User JOIN Member JOIN Course 
    ON User.id = Member.user_id AND Member.course_id = Course.id
    ORDER BY X LIMIT 1;
'''

for row in cur.execute(query2):
    print(row)

cur.close()

('Zofia', 'si206', 1)
('Zidane', 'si363', 0)
('XYZZY416168726F6E736934323230',)