# Chapter 14: Object-oriented programming

In [44]:
# Classes (cookie cutter) and Objects (cookie)

class Dog:
    # Constructor
    def __init__(self, name, color, age):
        # Attributes defined when instantiating the object
        self.name = name
        self.color = color
        self.age = age

    # Attribute
    paws = 4

    # Method
    def bark(self):
        print("Woof woof")

    # Destructor
    def __del__(self):
        print('I am destructed :(')

# This instantiates the object
rex = Dog('Rex', 'black', 2)

print(f'{rex.name} is {rex.color}')
print(f'{rex.name} is {rex.age} years old')
print(f'{rex.name} has {rex.paws} paws')
rex.bark()

print(f'Type: {type(rex)}')
print(f'Dir: {dir(rex)}')

# This destroys the object
rex = 2

I am destructed :(
Rex is black
Rex is 2 years old
Rex has 4 paws
Woof woof
Type: <class '__main__.Dog'>
Dir: ['__class__', '__del__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'bark', 'color', 'name', 'paws']
I am destructed :(

In [37]:
class PartyAnimal:
    x = 0
    def party(self):
        self.x += 1
        print(f'So far {self.x}')

an = PartyAnimal()

an.party()
an.party()
an.party()

So far 1
So far 2
So far 3

In [69]:
# Inheritance -> Subclasses

# Parent Class
class Pet:
    def __init__(self, name, owner, age, sound):
        self.name = name
        self.owner = owner
        self.age = age
        self.sound = sound

    def petSound(self):
        print(f'{self.name} {self.sound}s')

# Child Class - The class Dog extends Pet
class Dog(Pet):
    def __init__(self, name, owner, age, sound, paws, color):
        # super() makes Dog (child) inherit all methods and classes from Pet (parent)
        super().__init__(name, owner, age, sound)
        self.paws = paws
        self.color = color

    def bark(self):
        print('Woof woof!')

rex = Dog('Rex', 'John', 2, 'bark', 4, 'black')
print(rex.name)
print(rex.owner)
print(rex.age)
print(rex.sound)
print(rex.paws)
print(rex.color)
rex.petSound()
rex.bark()

Rex
John
2
bark
4
black
Rex barks
Woof woof!

# Chapter 15: Using Databases and SQL

## - Relational Databases

In [1]:
# SQLite

import sqlite3

# Create the database
conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')
cur.execute('CREATE TABLE Counts (email TEXT, count INTEGER)')

fname = input('Enter file name: ')

if (len(fname) < 1): fname = 'mbox-short.txt'
with open(fname) as fh:
    for line in fh:
        if not line.startswith('From: '): continue
        pieces = line.split()
        email = pieces[1]
        cur.execute('SELECT count FROM Counts WHERE email = ?', (email,))
        row = cur.fetchone()
        if row is None:
            cur.execute('INSERT INTO Counts (email, count) VALUES (?,1)', (email,))
        else:
            cur.execute('UPDATE Counts SET count = count + 1 WHERE email = ?', (email,))

conn.commit()

sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(row[0], row[1])

cur.close()

cwen@iupui.edu 5
zqian@umich.edu 4
david.horwitz@uct.ac.za 4
louis@media.berkeley.edu 3
gsilver@umich.edu 3
stephen.marquard@uct.ac.za 2
rjlowe@iupui.edu 2
wagnermr@iupui.edu 1
antranig@caret.cam.ac.uk 1
gopal.ramasammycook@gmail.com 1

In [2]:
# Assignment: Our First Database

import sqlite3

conn = sqlite3.connect('sqlite2.sqlite')
db = conn.cursor()

db.execute('DROP TABLE IF EXISTS Ages')
db.execute('CREATE TABLE Ages (name VARCHAR(128), age INTEGER)')

commands = ['DELETE FROM Ages;',
'INSERT INTO Ages (name, age) VALUES ("Maanav", 33);',
'INSERT INTO Ages (name, age) VALUES ("Safeena", 18);',
'INSERT INTO Ages (name, age) VALUES ("Shane", 31);',
'INSERT INTO Ages (name, age) VALUES ("Saffi", 24);'
]

for command in commands:
    db.execute(command)

select = 'SELECT hex(name || age) AS X FROM Ages ORDER BY X'

for row in db.execute(select):
  print(row)

db.close()

('4D61616E61763333',)
('53616665656E613138',)
('53616666693234',)
('5368616E653331',)

In [3]:
# Assignment: Counting Organizations

import sqlite3

# Create the database
conn = sqlite3.connect('orgdb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')
cur.execute('CREATE TABLE Counts (org TEXT, count INTEGER)')

fname = 'mbox.txt'

with open(fname) as fh:
    for line in fh:
        if not line.startswith('From: '): continue
        email = line.split()[1]
        org = email.split('@')[1]
        cur.execute('SELECT count FROM Counts WHERE org = ?', (org,))
        row = cur.fetchone()
        if row is None:
            cur.execute('INSERT INTO Counts (org, count) VALUES (?,1)', (org,))
        else:
            cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?', (org,))

conn.commit()

sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(row[0], row[1])

cur.close()

iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17